<?xml version="1.0" encoding="UTF-8"?>
<config>
<sysguardswitch>
<heartbeatswitch>0</heartbeatswitch>
<autorebootswitch>0</autorebootswitch>
<crashprotectswitch>0</crashprotectswitch>
</sysguardswitch>
<crashprotect>
<protectprocesslist>
<sms>
<procclass>0</procclass>
<protectpolicy>0</protectpolicy>
</sms>
</protectprocesslist>
</crashprotect>
<heartbeat>
<heartbeatlist>
<sms>
<process>sms</process>
<maxresponsetime>120</maxresponsetime>
<heartbeatinteral>20</heartbeatinteral>
<heartbeatpolicy>0</heartbeatpolicy>
<moduleclass>0</moduleclass>
</sms>
<wifi>
<process>router</process>
<maxresponsetime>120</maxresponsetime>
<heartbeatinteral>20</heartbeatinteral>
<heartbeatpolicy>0</heartbeatpolicy>
<moduleclass>0</moduleclass>
</wifi>
</heartbeatlist>
</heartbeat>
</config>
